* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  scroll-behavior: smooth;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
  padding: 0;
}

ul,
ol {
  padding: 0;
  margin: 0;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
  margin: 0;
  padding: 0;
}

.header {
  width: 100%;
  height: auto;
  background-color: #2c2c2c;
  padding: 11px 0;
}

.block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-left: 47px;
}
.block__item {
  border: 3px solid #ee3428;
  background-color: #eaeaea;
  width: 54px;
  height: 75px;
  margin-right: 27px;
}
.block__item:last-child {
  margin: 0;
}

@media (max-width: 1200px) {
  .block {
    display: none;
  }
}

.header__wrapper {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: auto;
}

.header__logo--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__logo--top img {
  width: 90px;
}

.header__logo--top img:last-child {
  margin-left: 10px;
  width: auto;
}

.header__logo--bottom {
  margin-top: 5.5px;
}

.header__logo--bottom p {
  font-size: 11px;
  font-weight: 700;
  line-height: 14.08px;
  color: #fff;
  margin-bottom: 0;
}

.header__logo--bottom p span {
  color: #ee3428;
}

.header__brend {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__brend--md {
  display: none;
}

.header__brend--md p {
  font-size: 11px;
  font-weight: 700;
  line-height: 15px;
  color: #fff;
}

.header__brend--md p span {
  color: #ee3428;
}

.header__brend--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__brend--item img {
  margin-right: 15px;
  width: 70px;
}

.header__brend--item p {
  font-size: 12.14px;
  font-weight: 700;
  line-height: 20.27px;
  color: #fff;
  margin-bottom: 0;
}

.header__whatssap--md {
  display: none;
}

.header__adress {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__adress--item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  margin-right: 30px;
}

.header__adress--item:last-child {
  margin: 0;
}

.header__item--metro {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__item--metro p {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 0;
}

.header__item--metro p img {
  margin-right: 3.5px;
}

.header__item--geo {
  margin-top: 7px;
}

.header__item--geo p {
  font-size: 14px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  margin-bottom: 0;
}

.header__item--tel {
  margin-top: 7px;
}

.header__item--tel .mb {
  display: none;
  color: #fff;
}

.header__item--tel .dek {
  display: block;
  color: #fff;
  width: auto;
}

.header__item--tel a p {
  font-size: 18px;
  line-height: 100%;
  color: #fff;
  margin-bottom: 0;
}

.header__item--now {
  margin-top: 7px;
}

.header__item--now ul li {
  font-size: 10px;
  font-weight: 600;
  line-height: 100%;
  color: #04d400;
  list-style: disc;
  margin-left: 13px;
}
.header__item--now ul li p {
  margin-bottom: 0;
}

.header__item--now ul li::marker {
  color: #04d400;
}

.header__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__btn--whatsapp {
  margin-right: 20px;
}

.header__btn--callback button,
.header__btn--callback a.header__callback_btn {
  background-color: rgba(255, 255, 255, 0);
  border: 1px solid #ee3428;
  border-radius: 30px;
  font-size: 11.64px;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
  padding: 16px 24px;
}

.header_fixed {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 99999;
}

.main {
  width: 100%;
  height: 650px;
  position: relative;
}

.main__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
}

.main__video video {
  width: 100%;
  height: 650px;
  -o-object-fit: cover;
  object-fit: cover;
  /* filter: brightness(0.8); */
}

.main__video::before {
  content: "";
  background-color: rgb(0 0 0 / 25%);
  width: 100%;
  height: 650px;
  position: absolute;
  top: 0;
  left: 0;
} 

.main__wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  justify-content: space-between;
  padding: 70px 0 115px 0;
}

.main__left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 60%;
}

.main__left--title {
  max-width: 495px;
}

.main__left--title h1 {
  font-size: 37px;
  font-weight: 800;
  line-height: 51.06px;
  color: #fff;
}

.main__left--title h2 {
  color: #ffffff;
  font-size: 19px;
}

.main__left--title h2 span {
  border-right: 1px solid #ee3428;
  padding-right: 5px;
}

.main__left--title h2 p {
  display: inline;
  color: #ee3428;
}

.main__left--title h1 span {
  color: #ee3428;
  margin-left: 10px;
}

.main__left--list {
  display: block;
  margin-top: 30px;
}

.main__left--list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.main__left--list ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 7px;
}

.main__left--list ul li img {
  margin-right: 10px;
  width: 30px;
  padding: 4px;
  background-color: #ee3428;
}

.main__left--list ul li span {
  font-size: 18px;
  /* font-weight: 600; */
  line-height: 21.4px;
  color: #fff;
}

.main__left--btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  margin-top: 45px;
}

.main__left--btn p {
  font-size: 13px;
  font-weight: 700;
  line-height: 21.84px;
  color: #fff;
  margin-right: 40px;
  margin-bottom: 0;
}

.main__left--btn p span {
  color: #ee3428;
}

.main__left--btn a {
  color: #fff;
  background-color: #ee3428;
  padding: 16px 48px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  width: auto;
}

.main__right {
  width: auto;
}

.main__right--form {
  max-width: 360px;
  border-radius: 1px;
  border: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 38px 30px 50px 30px;
}

.main__right--form h2 {
  font-size: 19.37px;
  font-weight: 600;
  line-height: 23.24px;
  text-align: center;
  color: #fff;
}

.main__right--form form {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 45px;
}

.main__right--form form input {
  width: 100%;
  height: auto;
  padding: 11px 15px 13px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #000;
  border-radius: 5px;
  margin-bottom: 27px;
}

.main__right--form form select {
  width: 100%;
  height: auto;
  padding: 11px 15px 11px 15px;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: #000000;
  border-radius: 5px;
  margin-bottom: 27px;
}

.main__right--form form label {
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__right--form form label input {
  width: auto;
  margin: 0;
}

.main__right--form form label p {
  font-size: 10px;
  font-weight: 600;
  line-height: 10px;
  color: #fff;
  margin-bottom: 0;
}

.main__right--form form button {
  width: 100%;
  height: auto;
  margin-top: 43px;
  padding: 12px 0;
  color: #fff;
  background-color: #ee3428;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.8px;
  text-transform: uppercase;
}

.banner {
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-40px);
  -ms-transform: translateY(-40px);
  transform: translateY(-40px);
}

.banner__wrapper {
  width: 100%;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 4px 4px 24.6px 0px rgba(0, 0, 0, 0.0901960784);
  box-shadow: 4px 4px 24.6px 0px rgba(0, 0, 0, 0.0901960784);
  background-color: #fff;
  padding: 30px 0;
}

.banner__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.banner__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.banner__item img {
  margin-right: 30px;
}

.banner__item p {
  font-size: 18px;
  font-weight: 400;
  line-height: 26.46px;
  color: #000;
  max-width: 158px;
}

@media (min-width: 0px) {
  .container {
    max-width: 406px;
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
    margin: 0 auto;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
    margin: 0 auto;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
    margin: 0 auto;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media (min-width: 1310px) {
  .container {
    max-width: 1310px;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .header__logo--top {
    margin-right: 0;
  }

  .header__logo--bottom {
    display: none;
  }

  .header__adress--item {
    margin-right: 10px;
  }

  .header__btn--callback button {
    padding: 15px 16px;
  }

  .header__item--geo {
    display: none;
  }

  .header__item--now {
    display: none;
  }
}

@media (max-width: 991px) {
  .header__wrapper {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .header__logo {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
  }

  .header__brend {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .header__adress {
    width: 100%;
    -webkit-box-ordinal-group: 5;
    -ms-flex-order: 4;
    order: 4;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 10px;
  }

  .header__adress--item {
    margin-right: 0;
  }

  .header__btn {
    -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3;
  }

  .main__left--title h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .main__left--list ul li span {
    font-size: 18px;
    line-height: 22px;
  }

  .main__left--btn p {
    font-size: 12px;
  }

  .main__left--btn a {
    padding: 15px 25px;
  }

  .main__right--form h2 {
    font-size: 18px;
  }

  .main__right--form form label input {
    margin-right: 10px;
  }

  .main__right--form form button {
    margin-top: 30px;
  }

  .main__right--form form {
    margin-top: 30px;
  }

  .main__right--form {
    padding: 25px;
  }

  .banner__items {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }

  .banner__items {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .banner__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .banner__item:nth-child(1) {
    width: 50%;
  }

  .banner__item:nth-child(2) {
    width: 50%;
  }

  .banner__item:nth-child(3) {
    width: 100%;
    margin-top: 20px;
  }

  .banner__item {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .banner__item:nth-child(1) {
    width: 100%;
  }

  .banner__item:nth-child(2) {
    width: 100%;
    margin-top: 20px;
  }

  .banner__item:nth-child(3) {
    width: 100%;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .main__left {
    width: 100%;
  }

  .main__right {
    display: none;
  }
}

@media (max-width: 576px) {
  .header__logo {
    /* -webkit-box-ordinal-group: 4;
    -ms-flex-order: 3;
    order: 3; */
    display: none;
  }

  .header__brend {
    -webkit-box-ordinal-group: 6;
    -ms-flex-order: 5;
    order: 5;
    width: auto;
    margin-top: 10px;
    display: none;
  }

  .header__brend--md {
    display: none;
  }

  .header__whatssap--md {
    display: none;
  }

  .header__adress {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    margin: 0 0 10px 0;
    width: 100%;
  }

  .header__item--geo p {
    font-size: 15px;
  }

  .header__item--tel .mb {
    display: block;
  }

  .header__item--tel .dek {
    display: none;
  }

  .header__item--tel a p {
    font-size: 18px;
    margin-top: 6px;
  }

  .header__item--tel {
    margin-top: 3px;
  }

  .header__btn {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    display: none;
  }

  .header__btn--whatsapp {
    display: none;
  }

  .header__btn--callback button {
    padding: 15px 10px;
  }

  .header {
    background-color: #000;
  }

  .main__left--btn a {
    margin-top: 15px;
  }

  .main__video {
    position: relative;
    padding: 0 11px;
  }

  .main__video video {
    width: 100%;
    height: auto;
    border-radius: 20px;
  }

  /* .main__video::before {
    display: none;
  } */

  .main__wrapper {
    padding: 20px 0 40px;
  }

  .main {
    background-color: #000;
    height: auto;
  }

  .banner__wrapper {
    -webkit-box-shadow: 0px 0px 24.6px 20px rgba(0, 0, 0, 0.0901960784);
    box-shadow: 0px 0px 24.6px 20px rgba(0, 0, 0, 0.0901960784);
  }

  .banner {
    padding-top: 20px;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

@media (max-width: 450px) {
  .main__left--btn {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }

  .main__left--btn p {
    text-align: center;
    margin: 0;
  }

  .main__left--btn button {
    margin-top: 20px;
  }
}
